.reproduction_name {
display: flex;
justify-content: space-between;
height: 44px;
margin-bottom: 30px;
align-items: center;
}
/* .reproduction_title {
  width: 255px;
} */
.reprodaction_text {
  font-size: 40px;
}
.reprodaction_nameButton {
  width: 428px;
  display: flex;
  justify-content: space-between;
}
.button_line {
  border-radius: 30px;
  font-size: 20px;
  background: #376B44;
  color: #F4F6F5;
  border: none;
  text-align: center;
  border: solid 2px black;
  width: max-content;
  padding: 10px 20px;
  border: none;
}

.card__wrapperImg {
  padding: 20px;
  width: 350px;
  height: 730p;
  background-color: #e1ede6;
  margin-bottom: 30px;
  
}
.cart__autor {
  color: #86928b;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: left;
  height: 21px;
  width: 132x;
  margin: 10px 0 10px 0px;
}
.cart__name {
  color: #2c2d35;
  font-family: Raleway;
  font-size: 30px;
  font-weight: 500;
  text-align: left;
  height: 35px;
  width: 310px;
  margin: 20px 0 10px 0px;
}
.cart__description {
  color: #2c2d35;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: left;
  height: 21px;
  width: 310px;
  /* margin: 8px 0 px 30px 0px; */
}
.cart__price {
  color: #598d66;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  height: 28px;
  width: 121px;
  margin: 20px 0 20px 0px;
}
.cart__btn {
  color: #598d66;
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: 1px solid #598d66;
  display: inline-flex;
  height: 65px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  height: 56px;
  width: 310px;
  background: #E1EDE6;
}

.card__img {
 height: 422px;
 width: 310px;
 display: block;
 
}
.cards_cart {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
}