.company__info {
  display: flex;
  max-height: 440px;
  margin-top: 70px;
}
.info__text {
  max-width: 635px;
  /* height: 108px; */
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 20px;
  word-wrap: break-word;
}
.info__img {
  display: block;
  width: 500px;
  height: 100%;
  padding-right: 30px;
}
.info__title {
  font-size: 40px;
  margin-top: 124px;
  margin-bottom: 20px;
  font-weight: 500;
  word-wrap: break-word;
}
.info__pics {
  display: flex;
  width: 300px;
  justify-content: space-between;
}
.info__img__wrapper {
  max-width: 361px;
  max-height: 440px;
  margin-right: 20px;
}

@media screen and (max-width:768px) {
  .company__info {
  max-height: 825px;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
}
.info__text {
  margin-top: 30px;
}
.info__img {
  display: block;
  height: 100%;
  max-width: 535px;
}
.info__title {
  font-size: 30px;
  margin-top: 40px;
  font-weight: 500;
  word-wrap: break-word;
  height: 33px;
}
.info__pics {
  max-width: 300px;
  max-height: 80px;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.info__img__wrapper {
  max-width: 500px;
  max-height: 500px;
  margin-right: 20px;
}
}
@media screen and (max-width:576px) {
.info__text {
  font-size: 16px;
  line-height: 22.4px;
  font-family: Raleway;
font-size: 16px;
line-height: 22px;
letter-spacing: 0em;
text-align: left;
}
.info__title {
  font-size: 24px;
}
 .info__img__wrapper {
    max-width: 372px;
    max-height: 500px;
    margin-right: 20px;
    min-width: 291px;
}
.company__info {
  display: flex; 
  margin-top: 50px;
}
}
@media screen and (max-width: 320px) {
  .company__info {
  display: flex; 
  margin-top: 59px;
}
.info__pics {
  max-width: 290px;
  margin-top: 20px;
}
  .info__text {
    margin-top: 20px;
  }
   .info__title {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 0;
   

  }
}