.promo__main {
max-height: 574px;
padding-top: 70px;
}
.promo__mainBg {
background: url('/img/Design/promo_pic_background.png') no-repeat center/cover;
margin-top: 40px;
height: 100%;
}
.promo__textMain {
  color: #fff;
  font-size: 18px;
}
.promo__text {
  max-width: 540px;
  margin-top: 20px;
  word-wrap: break-word;
}
.promo__titleText {
  color: #F4F6F5;
  font-size: 40px;
  font-weight: 500;
  line-height: 40px;
   word-wrap: break-word;
}
.promo__title {
max-width: 521px;
max-height: 80px;
 display: flex;
 word-wrap: break-word;
}
.promo__titleIcon {
width: 80px;
height: 80px;
margin-right: 20px;
}
.promo__button {
padding: 20px 60px 20px 60px;
font-size: 20px;
background: #EEDB6D;
border: none;
margin-top: 60px;
margin-bottom: 70px;
}

@media screen and (max-width: 768px) {
 .promo__titleText {
  color: #F4F6F5;
  font-size: 30px;
  font-weight: 500;
  line-height: 40px;
   word-wrap: break-word;
} 
.promo__button {
font-size: 20px;
background: #EEDB6D;
border: none;
margin-top: 30px;
margin-bottom: 70px;
}
.promo__text {
  max-width: 690px;
  margin-top: 20px;
  word-wrap: break-word;
  line-height: 27px;
}
}
@media screen and (max-width: 660px) {
.promo__textMain {
  color: #fff;
  font-size: 16px;
}
.promo__titleText {
  font-size: 30px;
  line-height: 30px;
   word-wrap: break-word;
}
.promo__button {
font-size: 18px;
}
.promo__titleIcon {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}
}

@media screen and (max-width: 320px) {
.promo__mainBg {
margin-top: 30px;
}
.promo__textMain {
  font-size: 16px;
  line-height: 22.4px;
}
.promo__titleText {
  font-size: 24px;
  line-height: 24px;
   word-wrap: break-word;
}
.promo__button {
padding-left: 81px;
padding-right: 81px;
margin-bottom: 51px;
}
.promo__titleIcon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.promo__main {
  padding-top: 50px;
}
}